* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV BAR */
.nav-not-connected {

}

.ul-not-connected {
    display: flex;
    justify-content: right;
    list-style: none;
}

.ul-not-connected > li {
    margin: 1.5rem;
}